<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-success">
      <div class="panel-heading">
        Article
      </div>

      <div class="panel-body">
        <p>
          <strong>Title:</strong>
          <%= @article.title %>
        </p>

        <p>
          <strong>Content:</strong>
          <%= raw(@article.content) %>
        </p>

        <p>
          <strong>Category:</strong>
          <%= @article.category %>
        </p>
      </div>

      <div class="panel-footer">
        <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-success" %>
        <%= link_to 'Back', articles_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-info">
      <div class="panel-heading">

        <!-- Concept for collapsing div from: https://www.w3schools.com/bootstrap/bootstrap_collapse.asp -->
        <!-- A cool collapsing div with a form inside -->

        <h1>Comments</h1>

        <!-- "The Toggle Form" Button -->
        <button class="btn btn-primary collapsible" data-toggle="collapse" data-target="#collapse">Add a Comment
        </button>
        <!--Makes the form to add a new comment-->
        <div id="collapse" class="collapse">
          <%= render partial: "comments/form", locals: { comment: Comment.new, article: @article } %>
        </div>
      </div>


      <table class="table table-hover">
        <thead>
        <tr>
          <th>Comment</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @article.comments.order(created_at: :desc).each do |comment| %>
          <tr>
            <% if comment.user_id == nil %>
              <td>No user...</td>
            <% else %>
              <td>    <%= link_to comment.user.email, comment.user %></td>
            <% end %>

            <td><%= comment.message %></td>
            <td><%= link_to 'Show', comment %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>