<!DOCTYPE html>
<html lang="en">
<head>
  <title>Legit News</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PRD3M748J6"></script>
  <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
          dataLayer.push(arguments);
      }

      gtag('js', new Date());
      document.addEventListener("turbolinks:load", () => {
          gtag('config', 'G-PRD3M748J6', {
              page_location: event.data.url,
              page_path: event.srcElement.location.pathname,
              page_title: event.srcElement.title
          });

      })
  </script>
</head>

<body>
<%= render 'shared/navbar' %>
<%= render 'shared/flash' %>
<div id="container" class="container">

  <%= yield %>
</div>
</body>
</html>
